body{
    background: #fafafa;
    Margin: 50px;
    border: 6px solid #004a7c;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #004a7c;

}
.container{
    background: #e8f1f5;
    padding: 50px;
}
.row{
    text-align: center;
    background: #e8f1f5;
    margin: 5px;
}
button{
    margin: 0;
}
#score{
    font-size: 35pt;
    margin: 0px;
    border: 3px solid#005691;
}
i:hover {
    cursor: pointer;
}
h1{
    margin: 10px;
}
i{
    border: 3px solid #005691;
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    body {
        width: 30vmin;
    }
}
/* #jeopardyName {
    width: 400px;
} */