body{
    background: #fafafa;
    Margin: 100px;
    border: 6px solid #004a7c;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #004a7c;

}
.container{
    background: #e8f1f5;
    padding: 50px;
    width: 100%;
}
.row{
    text-align: center;
    background: #e8f1f5;
    margin: 5px;
}
button{
    width:150px;
}
#score{
    font-size: 35pt;
    margin: 0px;
    border: 3px solid#005691;
    background-color: #fafafa;
}
i:hover {
    cursor: pointer;
}
h1{
    margin: 10px;
}
h3{
    border: 2px solid #005691;
    background-color: #fafafa;
}
i{
    border: 3px solid #005691;
    padding: 5px;
    background-color: #fafafa;
}
#ending, #points{
    font-size: 75px;
    text-align: center;
    margin:0;
}
#play{
    font-size: 40px;
    text-align: center;
    margin:0;
}
@media only screen and (max-width: 600px) {
    .container {
        width: 30vmin;
    }
}
